* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F08080;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

}

section {
  padding: 3rem 9%;
}

span {
  color: #F08080;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: #222;
  font-size: 1.7rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: .2rem;
  background: #F08080;
  color: #fff;
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: #222;
  font-weight: bolder;
}

.header .logo i {
  color: #F08080;
}

.header .navbar a {
  margin: 0 1.5rem;
  font-size: 1.7rem;
  color: #222;
}

.header .navbar a:hover {
  color: #F08080;
}

.header .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.7rem;
  color: #222;
  margin-left: .3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons a:hover {
  background: #F08080;
  color: #fff;
}





.shopping-cart {
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  height: 620px;
  overflow: hidden;
  max-width: 900px;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: bold;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  height: auto;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-left: 22px;
}

.delete-btn {
  padding-top: 30px;
  margin-right: 25px;
  font-size: 25px;
  color: darkgray;
  cursor: pointer;
}

.like-btn {
  padding-top: 27px;
  margin-right: 0;
  padding-right: 0;
  font-size: 28px;
  color: darkgray;
  cursor: pointer;
}


.delete-btn:hover {
  color: black;
}

.like-btn:hover {
  color: red;
}

.image {
  margin-right: 50px;

}



.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.numbers {
  margin-top: 30px;
  margin-right: 150px;
  padding: 10px 40px;
  width: 40px;
}

.numbers select {
  border: 1px solid darkgray;
  text-align: center;
  width: 52px;
  font-size: 16px;
  color: black;

}

.numbers select option {
  font-size: 16px;
  color: black;
}




.total-price {
  width: 83px;
  padding-top: 45px;
  margin-right: 50px;
  text-align: center;
  font-size: 20px;
  color: #43484D;
  font-weight: bold;
}

.image img {
  width: 50%;
}

.image,
.quantity,
.description {
  width: 100%;
  text-align: center;
  margin: 6px 0;
}



.addtocart {
  display: block;
  border-radius: 20px;
  border: none;
  font-size: 4em;
  background: #F08080;
  cursor: pointer;
  height: 40px;
  width: 10em;
  margin-bottom: 15px;
  margin-left: 69rem;
  margin-top: 0;

}

.addtocart:hover {
  transform: scale(1.1);

}

.addtocart:hover a {
  text-decoration: none;
  color: white;
}

.cart-button {
  font-family: 'Quicksand', sans-serif;
  color: white;
  cursor: pointer;
  font-size: 20px;


}



.footer {
  background: #f5f5f5;

}

.footer .box-container {
  display: flex;
  justify-content: space-between;

}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box .link {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #666;
  display: block;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: #F08080;
}

.footer .box-container .box .link:hover {
  color: #F08080;
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  background: #eee;
  text-align: center;
  color: #222;
  margin-right: .5rem;
}

.footer .box-container .box .share a:hover {
  color: #fff;
  background: #F08080;
}

.footer .box-container .box p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: #666;
}

.footer .box-container .box form .email {
  border: 0.2rem solid #222;
  width: 100%;
  padding: 1.2rem 1.7rem;
  color: #666;
  margin: 1rem 0;
  font-size: 1.6rem;
}