*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
section{
    padding:3rem 9%;
}
span{
    color:#F08080;
}

.btn{
    display:inline-block;
    margin-top:1rem;
    padding:1rem 3rem;
    color:#222;
    font-size:1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
    background: #F08080;
    color: #fff;
}

.header{
    background:#fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:1.5rem 9%;
}
.header .logo{
    font-size: 2.5rem;
    color: #222;
    font-weight: bolder;
}
.header .logo i{
    color: #F08080;
}
.header .navbar a{
    margin: 0 1.5rem;
    font-size: 1.7rem;
    color: #222;
}
.header .navbar a:hover{
    color: #F08080;
}
.header .icons a{
    height: 4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.7rem;
    color: #222;
    margin-left: .3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons a:hover{
    background: #F08080;
    color: #fff;
}



.message{
    background:url(../img/maybelline2.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    padding: 3rem;
    min-height: 500px;
    margin-right: 0;
    
}
.message form{
    margin: 2rem auto;
    background: #fff;
    text-align:center;
    max-width: 45rem;
    max-height: 100rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem;
}
.message form h3{
    font-size: 3rem;
    color: #222;
}
.message form .box{
    width: 100%;
    padding:1.5rem 0;
    margin:.7rem 0;
    font-size: 1.6rem;
    color: #666;
    border-radius: 0.2rem solid #222;
    padding-left: 20px;
}


.message form textarea{
    height:15rem;
    resize:none
}


.tacbox {
    display:block;
    padding: 5px 20px;
    margin: 10px ;
    background-color: #eee;
    max-width: 1000px;
    font-size: 26px;
    text-align: left;
  }
  
 .tacbox input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    font-size: 8px;
  }


  .login{
    display: block;
    font-size: 17px;
    margin-top: 25px;
    text-decoration: underline;
    color: #b2b2b2;
  }
  .login:hover{
    color: #F08080;
  }




.footer{
    background: #f5f5f5;

}
.footer .box-container{
display: flex;
justify-content: space-between;

}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #222;
    padding:1rem 0;
}
.footer .box-container .box .link{
    padding:1rem 0;
    font-size: 1.4rem;
    color: #666;
    display:block;
}
.footer .box-container .box .link i{
    padding-right: .5rem;
    color: #F08080;
}
.footer .box-container .box .link:hover{
    color: #F08080;
}
.footer .box-container .box .link:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .share{
    margin-top: 2rem;
}
.footer .box-container .box .share a{
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #eee;
    text-align: center;
    color: #222;
    margin-right: .5rem;
}
.footer .box-container .box .share a:hover{
    color: #fff;
    background: #F08080;
}
.footer .box-container .box p{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #666;
}
.footer .box-container .box form .email{
    border:0.2rem solid #222;
    width: 100%;
    padding:1.2rem 1.7rem;
    color: #666;
    margin: 1rem 0;
    font-size: 1.6rem;
}